<mat-card>
  <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
    <h2>Project Manager</h2>
    <div fxFlex></div>
    <h4>Hello Mr......... ..........</h4>
  </mat-card-subtitle>
  <mat-card-content>
    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows"
      [limit]="10">
      <ngx-datatable-column name="รหัสโปรเจค">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value.projectCode}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ความคืบหน้า">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value.projectProgress}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ชนิดโปรเจค">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value.projectType}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="วันสิ้นสุดโปรเจค">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value.projectEnd | date: "dd-MM-yyyy"}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ผู้รับโปรเจค">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value.sale}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="จัดการ" [maxWidth]="170">
        <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <a routerLink="/app-pmcontrol/{{value.projectCode}}">
            <mat-icon>build</mat-icon>
          </a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>
<mat-card>
  <div *ngFor="let value of product">
    {{value[0]}}
    <div *ngFor="let val of value">
      {{val}}
    </div>
  </div>
</mat-card>