<p>
    <mat-card>
      <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
        <h2>Manager Part 3</h2>
        <div fxFlex></div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="30" [footerHeight]="30" [rowHeight]="'auto'" [rows]="rowsss">
          <ngx-datatable-column name="รหัสโปรเจค">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div *ngIf="value.assignProgress === 100" class="finish">
                {{value.assignProjectCode}}
              </div>
              <div *ngIf="value.assignProgress !== 100">
                {{value.assignProjectCode}}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ชื่อโปรดักส์">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div *ngIf="value.assignProgress === 100" class="finish">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">{{data.productCodeR}}</a>
                </div>
              </div>
              <div *ngIf="value.assignProgress !== 100">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">{{data.productCodeR}}</a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="รหัสไฟล์">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div *ngIf="value.assignProgress === 100" class="finish">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">{{data.productFile}}</a>
                </div>
              </div>
              <div *ngIf="value.assignProgress !== 100">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">{{data.productFile}}</a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="จำนวนที่สั่ง">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div *ngIf="value.assignProgress === 100" class="finish">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">{{data.fileNum}} Piece</a>
                </div>
              </div>
              <div *ngIf="value.assignProgress !== 100">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">{{data.fileNum}} Piece</a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="จำนวนที่ทำได้">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div *ngIf="value.assignProgress === 100" class="finish">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">{{data.fileRecive}} Piece
                  </a>
                </div>
              </div>
              <div *ngIf="value.assignProgress !== 100">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">
                    <input matInput type="number" name="fileRecive" [(ngModel)]="data.fileRecive"> Piece
                  </a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ความคืบหน้า">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div *ngIf="value.assignProgress === 100" class="finish">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">{{data.fileProgress}} %
                  </a>
                </div>
              </div>
              <div *ngIf="value.assignProgress !== 100">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">{{data.fileProgress}} %</a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ส่งต่อ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div *ngIf="value.assignProgress === 100" class="finish">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">Move to {{data.fileMove}}
                  </a>
                </div>
              </div>
              <div *ngIf="value.assignProgress !== 100">
                <div *ngFor="let data of value.assignFile">
                  <a *ngIf="data !== undefined;">
                    <button mat-button color="primary" (click)="onUpdate(data.fileRecive,rowsss)">Move to {{data.fileMove}}</button>
                  </a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ผู้จัดการ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div *ngIf="value.assignProgress === 100" class="finish">
                {{value.assignPMName}}
              </div>
              <div *ngIf="value.assignProgress !== 100">
                {{value.assignPMName}}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="รายละเอียดงาน" [maxWidth]="170">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <button mat-mini-fab color="primary" (click)="viewFile(value)">
                <mat-icon>attachment</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
    </mat-card>
  </p>