<content fxLayout="column">
    <app-input-text-normal [value]="data.Matname" name="Matname" placeholder="ชื่อวัตถุดิบ" text="ชื่อวัตถุดิบ" fxFlex [formGroup]='form'></app-input-text-normal>
    <app-input-text-normal [value]="data.MatAmout" name="MatAmout" placeholder="จำนวน" text="จำนวน" fxFlex [formGroup]='form'></app-input-text-normal>
    <app-input-text-normal [value]="data.Price" name="Price" placeholder="ราคา" text="ราคา" fxFlex [formGroup]='form'></app-input-text-normal>
</content>
<footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">บันทึก</button>
    <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
</footer>