<mat-card>
  <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
    <h2>Store</h2>
    <div fxFlex></div>
  </mat-card-subtitle>
  <mat-tab-group>
    <mat-tab label="วัสดุทั้งหมด">
      <app-button-card-title (onClick)="insertMaterial()">
        <mat-icon>add</mat-icon>Material</app-button-card-title>
      <mat-card-content>
        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rowss">
          <ngx-datatable-column name="รหัสวัสดุ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialId}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ชื่อวัสดุ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialName}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="จำนวนที่มี">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialNum}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="หน่วย">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialUnit}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ราคา">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialPrice}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="แก้ไข">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button mat-mini-fab color="primary" (click)="editMaterial(value)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" (click)="confirmMatDelete(value)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="คำสั่งของ">

      <app-dropdown [data]="projectCodes" [value]="projectCode" text="Select Project" placeholder="Project" name="projectCodes"
        (change)="getMatassign()" fxFlex [formGroup]='formProJC'></app-dropdown>
      <!-- <mat-card>
              <table matSort (matSortChange)="sortData($event)">
                <tr>
                  <th mat-sort-header="item">Item</th>
                  <th mat-sort-header="order">Order</th>
                  <th mat-sort-header="input">Input</th>
                  <th mat-sort-header="type">Type</th>
                  <th mat-sort-header="date">Date</th>
                  <th mat-sort-header="add">Add</th>
                </tr>

                <tr *ngFor="let value of valueAssign">
                  <td>{{value.matItem}}</td>
                  <td>{{value.matNum}}</td>
                  <td>{{value.matRecive}}</td>
                  <td>{{value.matType}}</td>
                  <td>{{value.matDate}}</td>
                  <td>
                    <button mat-mini-fab color="warn" (click)="deleteMsg(value)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </mat-card> -->
      <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="valueAssigns">
        <ngx-datatable-column name="วัสดุ">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matItem}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="จำนวนที่ต้องการ">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matNum}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="จำนวนที่มี">
          <ng-template let-value="value" ngx-datatable-cell-template>
              <input matInput type="number" name="fileRecive" [(ngModel)]="value.matRecive">
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="หน่วย">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matType}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="จัดส่งที่">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matGoAt}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="วันที่ใช้">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matDate | date: "dd-MM-yyyy"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name=" ">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button mat-mini-fab color="accent" (click)="sendMat(value)">
              <mat-icon>pageview</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-tab>
    <mat-tab label="คำสั่งคืน">
      <mat-card-content>
        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="matback">
          <ngx-datatable-column name="รหัสการคืน">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.backID}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="รหัสวัตถุดิบ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.matID}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ชื่อวัตถุดิบ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.nameMat}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="จำนวนที่คืน">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.Amount}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="วันที่คืน">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.Day_Back}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>