<mat-card>
  <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
    <h2>Store</h2>
    <div fxFlex></div>
  </mat-card-subtitle>
  <mat-tab-group>
    <mat-tab label="วัสดุทั้งหมด">
      <app-button-card-title (onClick)="insertMaterial()">
        <mat-icon>add</mat-icon>Material</app-button-card-title>
      <mat-card-content>
        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rowss">
          <ngx-datatable-column name="รหัสวัสดุ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialId}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ชื่อวัสดุ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialName}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="จำนวนที่มี">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialNum}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="หน่วย">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialUnit}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ราคา">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.materialPrice}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="แก้ไข">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button mat-mini-fab color="primary" (click)="editMaterial(value)">
                <mat-icon>edit</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="คำสั่งของ">
      <app-dropdown [data]="projectCodes" [value]="projectCode" text="Select Project" placeholder="Project" name="projectCodes"
        (change)="getMatassign()" fxFlex [formGroup]='formProJC'></app-dropdown>
      <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="valueAssigns">
        <ngx-datatable-column name="วัสดุ">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matItem}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="จำนวนที่ต้องการ">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matNum}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="จำนวนที่ส่งไป">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matRecive}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="จำนวนที่มีในคลัง">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <input matInput type="number" name="fileRecive" [(ngModel)]="value.matFromStore">
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="หน่วย">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matType}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="จัดส่งที่">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matGoAt}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="วันที่ใช้">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.matDate | date: "dd-MM-yyyy"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name=" ">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button *ngIf="value.matForm==='old'" mat-mini-fab color="accent" (click)="sendMat(value)">
              <mat-icon>send</mat-icon>
            </button>
            <button *ngIf="value.matForm==='new'" mat-mini-fab color="primary" (click)="addMatToStore(value)">
              <mat-icon>fiber_new</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-tab>

    <mat-tab label="คำสั่งคืน">
      <mat-card-content>
        <app-dropdown [data]="projectCodes" [value]="projectCode" text="Select Project" placeholder="Project" name="projectCodes"
          (change)="getMatReturnAssign()" fxFlex [formGroup]='formProJC'></app-dropdown>
        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="listMatsAssignReturn">
            <ngx-datatable-column name="วัสดุ">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.matItem}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="จำนวนที่ต้องการ">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.matNum}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="จำนวนที่ส่งไป">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.matRecive}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="จำนวนที่มีในคลัง">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <input matInput type="number" name="fileRecive" [(ngModel)]="value.matFromStore">
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="หน่วย">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.matType}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="จัดส่งที่">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.matGoAt}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="วันที่ใช้">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.matDate | date: "dd-MM-yyyy"}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="บันทึก">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <button *ngIf="value.matForm==='old'" mat-mini-fab color="accent" (click)="sendMatas(value)">
                    <mat-icon>save</mat-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>