<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="true">
    <ng-template matStepLabel>Select Draft</ng-template>
    <mat-card class="card">
      <content fxLayout="column">
        <app-dropdown [data]="nameDraft" [value]="data.nameDraft" text="ขื่อ-นามสกุล" placeholder="Select Draft" name="nameDraft" fxFlex [formGroup]='formDraft'></app-dropdown>
      </content>
      <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" matStepperNext [disabled]="formDraft.invalid" (click)="selectDraft()">ต่อไป</button>
      </footer>
    </mat-card>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="true">
    <ng-template matStepLabel>Select File</ng-template>
    <!-- <mat-card class="content">
      <mat-card-content *ngFor="let value of product">
            รหัสโปรดัก {{value.codeProduct}} ไฟล์ {{value.file}}
      </mat-card-content>
    </mat-card> -->
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [editable]="true">
    <ng-template matStepLabel>Scope Draft</ng-template>
    <h4>Start</h4>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Choose a Date" [(ngModel)]="scopeStart">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <h4>End</h4>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose a Date" [(ngModel)]="scopeEnd">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>
    <div>
      <button mat-button matStepperNext class="buttonC" mat-raised-button color="primary" (click)="selectDate()">ต่อไป</button>
    </div>
  </mat-step>
  <mat-step [editable]="true">
    <ng-template matStepLabel>Select Mat</ng-template>
    <h4>Add Material</h4>
    <!-- <input #newMate placeholder="Material">
    <input #newNume placeholder="Num">
 
      <button mat-raised-button color="primary" (click)="addMat(newMate.value,newNume.value)">Confirm</button>
 
    <ul><li *ngFor="let mat of matItemAll">{{mat}}</li></ul> -->
    
    <app-input-text-normal [value]="data.matItem" name="matItem" placeholder="Material" fxFlex [formGroup]='matFormGroup'></app-input-text-normal>
    <app-input-text-normal [value]="data.matNum" name="matNum" placeholder="Num" fxFlex [formGroup]='matFormGroup'></app-input-text-normal>
    <mat-form-field>
        <input matInput [matDatepicker]="picker3" placeholder="Choose a Date" fxFlex [(ngModel)]="scopeMat">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <div>
      <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="addMat()" [disabled]="matFormGroup.invalid">Add</button>
      </footer>
    </div>
    <mat-card>
      <mat-list>
          <h3>List of Material</h3>
          <mat-list-item *ngFor="let mat of matItemAll">
            {{mat.matT}}    {{mat.numT}}     {{scopeMat | date: "dd-MM-yyyy"}}
          </mat-list-item>
          <button mat-raised-button color="primary" (click)="onSaveMat()">Confirm</button>
      </mat-list>
    </mat-card>

    
  </mat-step>
</mat-horizontal-stepper>
