<!-- <mat-card>
  <mat-form-field>
  <div *ngFor="let value of data.fileName">
    <a *ngIf="value !== undefined;">{{}}
      <mat-input-container>
        <input mdInput type="number" id="value.productCodeR">

      </mat-input-container>
    </a>
  </div>
</mat-form-field>
</mat-card> -->




<mat-card>
  <mat-card-content>
    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="30" [footerHeight]="30" [rowHeight]="'auto'" [rows]="assign">
      <ngx-datatable-column name="รหัสโปรดักส์">
        <!-- <ng-template let-value="value" ngx-datatable-cell-template>
          {{data.fileName}}
        </ng-template> -->
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngFor="let value of data.fileName">
            <a *ngIf="value !== undefined;">{{value.productCodeR}}</a>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ชื่อไฟล์">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngFor="let value of data.fileName">
            <a href="{{value.productFile}}" *ngIf="value !== undefined;" target="_blank">{{value.productFile}}</a>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="จำนวนที่สั่ง">
        <!-- <ng-template let-value="value" ngx-datatable-cell-template>
          {{value.goalTarget}}
        </ng-template> -->
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngFor="let value of data.fileName">
            <a *ngIf="value !== undefined;">{{value.fileNum}}</a>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="จำนวนที่ทำได้">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <!-- <div *ngFor="let value of data.fileName">
            <a *ngIf="value !== undefined;"> -->
              <input matInput type="number" name="fileRec
              ive" (change)="onUpdate()" [(ngModel)]="fileRecive">
            <!-- </a>
          </div> -->
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ความคืบหน้า">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value.assignProgress}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="แก้ไข">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <button mat-raised-button color="warn" (click)="onUpdate()">บันทึก</button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
    <footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">บันทึก</button>
      <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
    </footer>



  </mat-card-content>
</mat-card>