<mat-card>
    <nav>
        <a routerLink="app-admin" routerLinkActive="active">Admin</a>
        <a routerLink="app-sale" routerLinkActive="active">Sale</a>
        <a routerLink="app-store" routerLinkActive="active">Store</a>
        <a routerLink="app-fristpage" routerLinkActive="active">PM</a>
        <a routerLink="app-draft" routerLinkActive="active">Draft</a>
        <a routerLink="app-p1" routerLinkActive="active">Part1</a>
        <a routerLink="app-p2" routerLinkActive="active">Part2</a>
        <a routerLink="app-p3" routerLinkActive="active">Part3</a>
        <a routerLink="app-p4" routerLinkActive="active">Part4</a>
    </nav>
</mat-card>
<!-- <app-p1></app-p1>
<app-p2></app-p2>
<app-p3></app-p3>
<app-p4></app-p4> -->
<!-- <app-file-p1-dialog></app-file-p1-dialog> -->
<!-- <app-pmcontrol></app-pmcontrol> -->
<!-- <app-sale></app-sale> -->
<!-- <app-admin></app-admin> -->
<!-- <app-store></app-store> -->
<!-- <app-draft></app-draft> -->
<!-- <app-fristpage></app-fristpage> -->
<router-outlet></router-outlet>
