<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <img src="./assets/pass-logo.png" style="width: 40%;">
        </span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <div *ngIf="checkType==='Admin'">
            <a routerLink="app-admin" routerLinkActive="active">Admin</a>
        </div>
        <div *ngIf="checkType==='Sale'">
            <a routerLink="app-sale" routerLinkActive="active">Sale</a>
        </div>
        <div *ngIf="checkType==='Store'">
            <a routerLink="app-store" routerLinkActive="active">Store</a>
        </div>
        <div *ngIf="checkType==='PM'">
            <a routerLink="app-fristpage" routerLinkActive="active">PM</a>
        </div>
        <div *ngIf="checkType==='Draft'">
            <a routerLink="app-draft" routerLinkActive="active">Draft</a>
        </div>
        <div *ngIf="checkType==='Part1'">
            <a routerLink="app-p1" routerLinkActive="active">Part1</a>
        </div>
        <div *ngIf="checkType==='Part2'">
            <a routerLink="app-p2" routerLinkActive="active">Part2</a>
        </div>
        <div *ngIf="checkType==='Part3'">
            <a routerLink="app-p3" routerLinkActive="active">Part3</a>
        </div>
        <div *ngIf="checkType==='Part4'">
            <a routerLink="app-p4" routerLinkActive="active">Part4</a>
        </div>
        <ul></ul>
        <mat-icon *ngIf="check===true" (click)="logout()" class="pointer">power_settings_new</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="check===true">
    <router-outlet></router-outlet>
</div>
<div *ngIf="check===false">
    <mat-card class="example-card">
        <mat-card-header fxLayoutAlign="center center">
            <h2>Login</h2>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center">
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</div>