<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <img src="./assets/pass-logo.png" style="width: 40%;">
        </span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <div *ngIf="check===true">
            <div *ngIf="checkType==='God'">
                <div class="dropdown pointer">
                    <a routerLink="app-admin" routerLinkActive="active">Admin</a>
                    <a routerLink="app-sale" routerLinkActive="active">Sale</a>
                    <a routerLink="app-store" routerLinkActive="active">Store</a>
                    <a routerLink="app-fristpage" routerLinkActive="active">Project</a>
                    <a routerLink="app-draft" routerLinkActive="active">Draft</a>
                    <a routerLink="app-p1" routerLinkActive="active">Part1</a>
                    <a routerLink="app-p2" routerLinkActive="active">Part2</a>
                    <a routerLink="app-p3" routerLinkActive="active">Part3</a>
                    <a routerLink="app-p4" routerLinkActive="active">Part4</a>
                    <a *ngIf="check===true" (click)="logout()">Logout</a>
                </div>
            </div>
            <div *ngIf="checkType==='Admin'">
                <div class="dropdown pointer">
                    <a routerLink="app-admin" routerLinkActive="active">Admin Manager</a>
                    <a *ngIf="check===true" (click)="logout()">Logout</a>
                </div>
            </div>
            <div *ngIf="checkType==='Sale'">
                <a class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ value.saleName }}</a>
                    <div class="dropdown-content pointer">
                        <a routerLink="app-sale/{{value._id}}" routerLinkActive="active">Sale Manager</a>
                        <a *ngIf="check===true" (click)="logout()">Logout</a>
                    </div>
                </a>
            </div>
            <div *ngIf="checkType==='Store'">
                <a class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Store</a>
                    <div class="dropdown-content pointer">
                        <a routerLink="app-store" routerLinkActive="active">Store Manager</a>
                        <a *ngIf="check===true" (click)="logout()">Logout</a>
                    </div>
                </a>
            </div>
            <div *ngIf="checkType==='PM'">
                <a class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ value.pmName }}</a>
                    <div class="dropdown-content pointer">
                        <a routerLink="/app-fristpage/{{value._id}}" routerLinkActive="active">Project Manager</a>
                        <a *ngIf="check===true" (click)="logout()">Logout</a>
                    </div>
                </a>
            </div>
            <div *ngIf="checkType==='Draft'">
                <a class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ value.employeeName }}</a>
                    <div class="dropdown-content pointer">
                        <a routerLink="/app-draft/{{value._id}}" routerLinkActive="active">Draft Manager</a>
                        <a *ngIf="check===true" (click)="logout()">Logout</a>
                    </div>
                </a>
            </div>
            <div *ngIf="checkType==='Part1'">
                <a class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ value.employeeName }}</a>
                    <div class="dropdown-content pointer">
                        <a routerLink="/app-p1/{{value._id}}" routerLinkActive="active">Part1 Manager</a>
                        <a *ngIf="check===true" (click)="logout()">Logout</a>
                    </div>
                </a>
            </div>
            <div *ngIf="checkType==='Part2'">
                <a class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ value.employeeName }}</a>
                    <div class="dropdown-content pointer">
                        <a routerLink="/app-p2/{{value._id}}" routerLinkActive="active">Part2 Manager</a>
                        <a *ngIf="check===true" (click)="logout()">Logout</a>
                    </div>
                </a>
            </div>
            <div *ngIf="checkType==='Part3'">
                <a class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ value.employeeName }}</a>
                    <div class="dropdown-content pointer">
                        <a routerLink="/app-p3/{{value._id}}" routerLinkActive="active">Part3 Manager</a>
                        <a *ngIf="check===true" (click)="logout()">Logout</a>
                    </div>
                </a>
            </div>
            <div *ngIf="checkType==='Part4'">
                <a class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ value.employeeName }}</a>
                    <div class="dropdown-content pointer">
                        <a routerLink="/app-p4/{{value._id}}" routerLinkActive="active">Part4 Manager</a>
                        <a *ngIf="check===true" (click)="logout()">Logout</a>
                    </div>
                </a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="check===true">
    <router-outlet></router-outlet>
</div>
<div *ngIf="check===false">
    <mat-card class="example-card">
        <mat-card-header fxLayoutAlign="center center">
            <h2>Login</h2>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center">
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</div>
