<h2>เพิ่มลูกค้า</h2>
<content fxLayout="column">
  <app-input-text-normal [value]="data.customerName" name="customerName" placeholder="ชื่อ-นามสกุล" text="ชื่อ-นามสกุล" fxFlex
    [formGroup]='form'></app-input-text-normal>
  <app-input-text-normal [value]="data.customerPhone" name="customerPhone" placeholder="เบอร์โทรศัพท์" text="เบอร์โทรศัพท์"
    fxFlex [formGroup]='form'></app-input-text-normal>
  <app-input-text-normal [value]="data.customerAddress" name="customerAddress" placeholder="ที่อยู่" text="ที่อยู่" fxFlex
    [formGroup]='form'></app-input-text-normal>
</content>
<footer select="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">บันทึก</button>
  <button mat-raised-button color="warn" (click)="onClose()">ยกเลิก</button>
</footer>