<mat-card>
  <mat-card-subtitle fxLayout="row" fxLayoutGap="10px">
    <h2>Sale</h2>
    <div fxFlex></div>
    <app-button-card-title (onClick)="insertProject()">
      <mat-icon>add</mat-icon>Project</app-button-card-title>
  </mat-card-subtitle>
  <mat-card-content>
    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows"
      [limit]="10">
      <ngx-datatable-column name="รหัสโปรเจค">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngIf="value.projectProgress === 100" class="finish">
            {{value.projectCode}}
          </div>
          <div *ngIf="value.projectProgress !== 100">
            {{value.projectCode}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ความคืบหน้า">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngIf="value.projectProgress === 100" class="finish">
            Finish !
          </div>
          <div *ngIf="value.projectProgress !== 100">
            <mat-progress-bar mode="determinate" value="{{value.projectProgress}}"></mat-progress-bar>
            {{value.projectProgress}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ชนิดโปรเจค">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngIf="value.projectProgress === 100" class="finish">
            {{value.projectType}}
          </div>
          <div *ngIf="value.projectProgress !== 100">
            {{value.projectType}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ลูกค้า">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngIf="value.projectProgress === 100" class="finish">
            {{value.customer[0].customerName}}
          </div>
          <div *ngIf="value.projectProgress !== 100">
            {{value.customer[0].customerName}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ผู้จัดการ">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngIf="value.projectProgress === 100" class="finish">
            {{value.pm[0].pmName}}
          </div>
          <div *ngIf="value.projectProgress !== 100">
            {{value.pm[0].pmName}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ไฟล์" [maxWidth]="170">
        <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <a routerLink="/app-saleviewprogress/{{value._id}}">
            <button mat-mini-fab color="primary">
              <mat-icon>attachment</mat-icon>
            </button>
          </a>
          <button mat-mini-fab color="warn" (click)="confirmDelete(value)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>