<mat-card>
<mat-card-title fxLayout="row" fxLayoutGap="10px">
    <h2>Assign Product</h2>
    <div fxFlex></div>
</mat-card-title>
  <mat-card-subtitle>
    <mat-form-field>
        <input matInput placeholder="ID_Project:" disabled value={{projectCode}}>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Sale:" disabled value={{saleName}}>
    </mat-form-field>
  </mat-card-subtitle>
<ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="products" [limit]="10">
  <ngx-datatable-column name="แบบงาน">
    <ng-template let-value="value" ngx-datatable-cell-template>
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              {{value.name}}
            </mat-panel-title>
            <mat-panel-description>
              จำนวนแบบ: {{value.files.length}}
            </mat-panel-description>
          </mat-expansion-panel-header>
      <mat-list role="list1">
      <div *ngIf="value.name==='wheels'">
        <div *ngFor="let val of product01">
          {{val.file}}
        </div>
      </div>
      <div *ngIf="value.name==='door_left'">
          <div *ngFor="let val of product02">
            {{val.file}}
          </div>
        </div>
        <div *ngIf="value.name==='door_right'">
            <div *ngFor="let val of product03">
              {{val.file}}
            </div>
          </div> 
      </mat-list>
    </mat-expansion-panel>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="แผนกที่เกี่ยวข้อง">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <section class="example-section">
        <mat-checkbox class="example-margin" *ngFor="let part of parts">
          {{part}}
        </mat-checkbox>
      </section>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
</mat-card>