<h1>Detail's {{data.assignProjectCode}}</h1>
<div fxLayout="row">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Project Maneger (PM)" disabled [value]="data.assignPMName" name="assignPMName">
  </mat-form-field>
  <ul></ul>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Start" disabled [value]="data.assignScopeStart" name="assignScopeStart">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <ul></ul>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="End" disabled [value]="data.assignScopeEnd" name="assignScopeEnd">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>
<!-- <div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Products Connect from :
      </mat-panel-title>
      <mat-panel-description >
        {{fileFrom}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="product">Product</th>
        <th mat-sort-header="file">File</th>
        <th mat-sort-header="num">Demand</th>
        <th mat-sort-header="num">Supply</th>
        <th mat-sort-header="num">Percent Per Order</th>
      </tr>

      <tr *ngFor="let product of fileConnect">
        <td>{{product.productCodeR}}</td>
        <td>{{product.productFile}}</td>
        <td>{{product.fileNum}} Piece</td>
        <td>{{product.fileRecive}} Piece</td>
        <td>{{product.fileProgress}} %</td>
      </tr>
    </table>
  </mat-expansion-panel>
</div>
<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Material Req:
      </mat-panel-title>
      <mat-panel-description >
        {{data.assignMat.length}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="product">Item</th>
        <th mat-sort-header="type">Type</th>
        <th mat-sort-header="num">Num</th>
        <th mat-sort-header="contain">Contain</th>
        <th mat-sort-header="date">Date</th>
      </tr>

      <tr *ngFor="let mat of data.assignMat">
        <td>{{mat.matItem}}</td>
        <td>{{mat.matType}}</td>
        <td>{{mat.matNum}}</td>
        <td>{{mat.matRecive}}</td>
        <td>{{mat.matDate | date: "dd-MM-yyyy"}}</td>
      </tr>
    </table>
  </mat-expansion-panel>
</div>
<br>
<div>
  <mat-card>
    <mat-card-content>
      <h3>Progress's {{data.assignEmpType}}</h3>
      <mat-progress-bar [color]="color" [mode]="mode" [value]="progressBar">
      </mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div> -->
<mat-tab-group>
  <mat-tab label="ไฟล์ที่เกี่ยวข้อง">
    <mat-card>
      <h3>Related Products</h3>
      <table matSort (matSortChange)="sortData($event)">
        <tr>
          <th mat-sort-header="product">Product</th>
          <th mat-sort-header="file">File</th>
          <th mat-sort-header="demand">Demand</th>
          <th mat-sort-header="supply">Supply</th>
          <th mat-sort-header="from">From ?</th>
          <th mat-sort-header="percent">Percent Per Order</th>
        </tr>

        <tr *ngFor="let product of fileConnect">
          <td>{{product.productCodeR}}</td>
          <td>{{product.productFile}}</td>
          <td>{{product.fileNum}} Piece</td>
          <td>{{product.fileRecive}} Piece</td>
          <td>{{product.fileFrom}}</td>
          <td>{{product.fileProgress}} %</td>
        </tr>
      </table>
    </mat-card>
  </mat-tab>

  <mat-tab label="วัสดุที่ใช้">
    <mat-card>
      <h3>Material used</h3>
      <!-- <mat-expansion-panel> -->
      <mat-card-content>
        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="listMatAssigns">
          <!-- <ngx-datatable-column name="วัสดุ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.matId}}
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="วัสดุ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.matItem}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ชนิต">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.matType}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="จำนวนที่ต้องการ">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.matNum}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="จำนวนที่มี">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.matRecive}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="จำนวนที่ใช้แล้ว">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.matUse}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="จำนวนที่ใช้ประจำวัน">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <input matInput type="number" name="fileRecive" [(ngModel)]="value.matUseInOneDay">
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="วันที่ใช้">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value.matDate | date: "dd-MM-yyyy"}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="บันทึก">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button mat-mini-fab color="accent" (click)="matUsed(value)">
                <mat-icon>save</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
      <!-- <mat-expansion-panel-header>
      <mat-panel-title>
        Material
      </mat-panel-title>
      <mat-panel-description>
        {{assignMatNum}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="product">Item</th>
        <th mat-sort-header="type">Type</th>
        <th mat-sort-header="num">Num</th>
        <th mat-sort-header="contain">Contain</th>
        <th mat-sort-header="date">Date</th>
      </tr>

      <tr *ngFor="let mat of assignMat">
        <td>{{mat.matItem}}</td>
        <td>{{mat.matType}}</td>
        <td>{{mat.matNum}}</td>
        <td>{{mat.matRecive}}</td>
        <td>{{mat.matDate | date: "dd-MM-yyyy"}}</td>
        <td><mat-checkbox (value)="mat.matReturn">Checked</mat-checkbox></td>
      </tr>
    </table> -->
      <!-- </mat-expansion-panel> -->
    </mat-card>
  </mat-tab>
  <mat-tab label="โน๊ต">
    <mat-card>
      <h3>Note</h3>
      {{data.assignNote}}
    </mat-card>
  </mat-tab>
</mat-tab-group>