/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Prompt');
*{
    font-family: 'Prompt', sans-serif;
  }
  html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-color: #DDDDDD;
  }
  
  .material-icons { 
    font-size: 19px;
    height: 19px;
    width: 19px;
    text-align: center;
  }